@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(reset.css);

a{ text-decoration: none; }

#header, #aside, #footer {
	font-family: 'Jeju Gothic', serif;
	font-size: 13px;
}

#footer {
	padding-top: 20px;
	color: #fff;
	height: 100px;
	background: #787878;
	clear: inherit;
}

#main {
	height: inherit;
	width: 80%;
	right: 10px;
}

#logo {
	position: absolute;
	left: 15px;
	top: 30px;
}

#top {
	width:100%;
	height: 25px;
	background: #787878;
	overflow: auto;
}

#top input {
	vertical-align: middle;
	margin-top: -3px;
}

#top input[type="text"] {
	height: 15px;
	border-style: none;
	border-bottom: thin solid #fff;
	background: #787878;
	color: #fff;
}

#header {
	width: 100%;
	height: 105px;
	background: #5AD4C8;
}

#page li {
	display: inline;
}

#loginmenu {
	margin-left: 900px; 
	padding-top: 5px;
	padding-left: 10px;
}

#mainmenu {
	margin-left: 633px;
}

#mainmenu li {
	font-size: 15px;
	font-weight: bold;
	float: left;
	padding-left: 10px;
}


#loginmenu li {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	padding-left: 15px;
	vertical-align: middle;
}

#loginmenu a {
	color: #ffffff;
}

#box-info{
	width: 269px;
	height: 261px;
	background: url("../images/bgMemInfo.png") no-repeat center;
	position: absolute;
	top: 20px;
	right: 270px;
	display: none;
	text-align: center;
}

#box-info a{
	color: #000;
}

#box-info table{
	color: #000;
	font-size: 14px;
	height: 120px;
	margin-top: 40px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#box-info td:FIRST-CHILD{
	width: 110px;
}

#box-info td:FIRST-CHILD+td{
	width: 110px;
}

#box-info img{
	width:100px;
	height:100px;
}

.content-wrapper
{
	height: 100%;
	width:100%;
	min-height: inherit;
	margin-left:auto;
	margin-right:auto;
}	

#body .content-wrapper{
	width: 96%;
	height: 1500px;
	overflow: auto;
}

#footer .content-wrapper{
	width: 96%;
}
	
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.hidden {
	display: none !important;
}

.search {
	display: inline-block;
}

/*----------------------- 버튼이라는 공통분모 -----------------------------------*/
.button-search {
	display: inline-block;
	overflow: hidden; /* block으로 지정하면 overflow(content가 영역밖에존재) 발생가능 */
	border: 0px;
	text-indent: -100px;
} 
.btn:hover, .button:hover {
	cursor: pointer;
}

.zoom-button {
	width: 20px;
	height: 20px;
	background: url("../images/btnSearch.png") no-repeat;
}


.btn-simple{
	border: 1px solid #696969;
	padding: 2px 5px 2px 5px;
}

.btn-search{
	border: 1px solid #696969;
	padding: 0.5px 2px 0.5px 2px;
}

/* ---------페이지------------------------------------------------------------------- */
.list_number{
	padding-top:25px; text-align:center;
	font-size: 13px;
	clear: both;
}

.list_n_menu {
	padding: 3px;
	MARGIN: 3px;
	TEXT-ALIGN: center
}

.list_n_menu A {
	padding: 4px 7px 4px 7px;
	MARGIN: 2px;
	BORDER: #ccc 1px solid;
	COLOR: #999;
	TEXT-DECORATION: none
}

.list_n_menu A:hover {
	BORDER: #999 1px solid;
	COLOR: #666;
}

.list_n_menu A:active {
	BORDER: #999 1px solid;
	COLOR: #666;
}

.list_n_menu .current {
	BORDER: #117bff 1px solid;
	padding: 5px 8px 4px 8px;
	FONT-WEIGHT: bold;
	MARGIN: 2px;
	COLOR: #036cb4;
}

.list_n_menu .disabled {
	BORDER: #eee 1px solid;
	padding: 5px 8px 4px 8px;
	MARGIN: 2px;
	COLOR: #ddd;
}
