@CHARSET "UTF-8";
 
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
 
body {
	overflow-x:hidden;
}
 
* {
	padding: 0px;
	margin: 0px;
}
 
#warp {
	height: 400px;
}
 
#mask {
	float: left;
	overflow: hidden;
	height: 400px;
}
 
#content {
	width: 510%;
} /* 배너 1개 가로 크기 * 총 개수 */
#content dd {
	float: left;
	width: 1280px;
	height: 400px;
}
 
#content img {
	width: 1280px;
}
 
#course-text {
	text-shadow: 2px 2px #808080;
	color: white;
	font-size: 25px;
	font-family: 'Jeju Gothic', serif;
	position: absolute;
	top: 160px;
	left: 0;
	right: 0;
	text-align: center;
}
 
#course-title {
	margin-left: 400px;
	text-shadow: 2px 2px #808080;
	color: white;
	font-size: 60px;
	font-family: 'Jeju Gothic', serif;
	position: absolute;
	top: 280px;
	text-align: center;
}
 
#course-title a {
	color: white;
	text-decoration: none;
}
 
#page {
	position: absolute;
	top: 450px;
	left: 1020px;
}
/* --------------------------------------------------------버튼--------------------------------------------------- */
#go-btn {
	position: absolute;
	top: 390px;
	left: 30px;
}
 
#page li {
	float: left;
	list-style: none;
	margin-right: 15px;
}
 
.page-btn {
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	background: #ffffff;
	padding: 15px 15px 15px 15px;
	cursor: pointer;
}
 
.page-btn:hover {
	background: #00f0dc;
	cursor: pointer;
}
 
#prev-btn {
	cursor: pointer;
	position: absolute;
	left: 40px;
	top: 270px;
	width: 40px;
	height: 600px;
}
 
#prev-btn img {
	width: 40px;
	height: 60px;
}
 
#next-btn {
	left: 1190px;
	cursor: pointer;
	position: absolute;
	top: 270px;
	width: 40px;
	height: 60px;
}
 
#next-btn img {
	width: 40px;
	height: 60px;
}
 
#favorite-img {
	
}
 
#special-img {
	margin-left: -7px;
}
 
#event-img {
	margin-left: -15px;
}
/* ----------------------------------------------------지도--------------------------------------------------------- */
#map {
	float: left;
	width: 250px;
	height: 250px;
	width: 250px;
	margin-left: 5px;
	margin-right: 10px;
}
 
#map-img {
	position: absolute;
	width: 250px;
	height: 250px;
}
 
#map-bar {
	position: absolute;
	top: 700px;
	width: 100px;
	height: 100px;
	width: 100px;
}
 
#map-cafe {
	position: absolute;
	top: 720px;
	left: 150px;
	width: 100px;
	height: 100px;
	width: 100px;
	left: 150px;
}
 
#map-food {
	position: absolute;
	left: 130px;
	width: 100px;
	height: 100px;
	width: 100px;
}
 
#map-play {
	position: absolute;
	width: 100px;
	height: 100px;
}
 
/* --------------------------------------------------------인기장소 top 4-------------------------------------------------------- */
#favorite-place {
	float: left;
	margin-right: 18px;
	width: 180px;
	height: 250px;
}
 
#favorite-place img {
	width: 180px;
	height: 180px;
}
 
#favorite-place table {
	margin-right: 12px;
	float: left;
	width: 180px;
	height: 255px;
	font-family: 'Jeju Gothic', serif;
	border: 1px solid #bcbcbc;
	float: left;
}
/* ----------------------------------------------------------이색장소--------------------------------------------------------------------- */
#special-place table {
	float: left;
	padding-left: 10px;
	margin-left: 15px;
	width: 400px;
	height: 255px;
	font-family: 'Jeju Gothic', serif;
	border: 1px solid #bcbcbc;
}
 
#special-place-region {
	height: 20px;
	font-size: 10pt;
	text-align: right;
}
 
#special-place-text {
	color: #747474;
	height: 50px;
	font-size: 15pt;
	width: 200px;
}
 
#special-place-title {
	color: #57d0ea;
	text-shadow: 2px 2px #35c7e6;
	text-align: center;
	height: 120px;
	font-size: 27pt;
	width: 200px;
	font-weight: bold;
}
 
#special-place-img { /* 이미지 원형 마스크 */
	width: 170px;
	height: 170px;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
 
#special-place-btn {
	width: 100px;
	height: 50px;
}
 
/* -------------------------------------------------이벤트---------------------------------------------------------- */
 
#event-place {
	width: 300px;
	height: 300px;
	margin-left:15px;
	float: left;
}
 
#event-text {
	width: 300px;
	height: 300px;
	background: #000000;
	opacity: 0;
}
 
#event-place:hover #event-text {
	opacity: 0.7;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Jeju Gothic', serif;
}
#event-region{
	font-size:15pt;
	margin-left:20px;
	padding-top: 20px;
}
#event-title{
	padding-top:40px;
	font-size:27pt;
	text-align: center;
}
#event-date{
	padding-top:50px;
	font-size:20pt;
	text-align: center;
}
a{
	text-decoration: none;	
}